box(){
    .box {
  width: 100%;
  display: flex;
  margin: 20px 0;

  em {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 50px;
    text-align: right;
  }

  .input {
    height 40px;
    line-height:40px;
    margin-left: 20px;
    flex: 1;
  }
}
.box>>>.el-date-editor.el-input{
    width 100%;
}
.btn{
    text-align center;
}
}
h2(){
  width: 70%;
  padding: 30px 50px;
  h2 {
  font-size: $h2;
  margin-bottom 10px;
  } 
  .el-button {
  margin: 20px 10px;
}
}